@import url(https://fonts.googleapis.com/css?family=Lato:400,900,700);

body {
    font-family: 'Lato', sans-serif;
}

.banner {
    background-position: top center;
    height: 265px;
    background-color: #FFF;
}

.banner h1 span, h2 span {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

#bannerlogo {
    background-color: #1F4963; /* nwoods blue */
    font-weight: 900;
    font-size: 120%;
    color: white;
    padding: 6px;
    border-radius: 9px;
}

#toplogo {
    background-color: #1F4963; /* nwoods blue */
    font-weight: 900;
    font-size: 120%;
    color: white;
    padding: 6px;
    border-radius: 4px;
}

#bannertop {
    background-image: url('../images/banner2.png');
    background-repeat: no-repeat;
    box-shadow: 0px 2px 5px #D3D3D3;
    padding-top: 48px;
}

.img-thumbnail {
    padding: 0px;
    margin: 4px;
    border: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    border-radius: 2px;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:hover, a:focus {
    color: #23527c;
    text-decoration: none;
}

a:hover img {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

h1 {
    font-size: 50px;
    font-weight: bold;
}

#frontpage p {
    font-size: 18px;
    line-height: 1.5;
}

#footer {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    padding: 25px 50px 50px 50px;
    margin: 0px;
    color: #ffffff;
}

#footer ul {
    list-style: none;
    margin-top: 20px;
}

#footer p {
    font-size: 13px;
}

#footer h3 {
    background-color: #1F4963; /* nwoods blue */
    font-weight: 900;
    font-size: 40px;
    color: white;
    padding: 6px;
    border-radius: 6px;
    display: inline-block;

    text-align: center;
}

#navindex {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 110px;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
    font-weight: bold;
}

.navbar-brand {
    height: auto;
    margin: 9px 10px;
    padding: 6px;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-brand:hover {
    background-color: #1F4963; /* nwoods blue */
}

.nav > li > a {
    padding-left: 9px;
    padding-right: 9px;
    font-size: 14px;
}

.navbar {
    border-radius: 0px;
    border-width: 0px;
}

.navbar-right {
    margin-right: 0px;
}

.nav li {
    float: left;
    line-height: 40px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.nav li:hover {
    background-color: #707070;
}

.sidebar-nav .navbar-collapse {
    padding: 0px;
}

.buy {
    background-color: #79C900;
}

.activate {
    background-color: #00A9C9;
}

/* bootstrap override */
.container-fluid {
    max-width: 1170px;
    padding: 50px 0;
    margin: auto;
}

.container-fluid > .navbar-header {
    margin-left: inherit;
    margin-right: inherit;
}

.mt30 {
    margin-top: 30px;
}

.mt70 {
    margin-top: 70px;
}

.plr15 {
    padding-left: 15px;
    padding-right: 15px;
}

.footer {
    text-align: right;
    font-size: 10px;
}

/* used on learn pages */
.learn-container {
    max-width: 940px;
    padding-left: 15px;
    padding-right: 15px;
}

.diagramStyling { /* intro */
    background-color: #F8F8F8;
}

p.box {
    padding: 15px;
}

/* Sidebar */
.sidebar-nav .navbar {
    margin-bottom: 0px;
}

.classList {
    width: 100%;
    margin: 0;
}

.navbar-nav > li > a.selected {
    background: #707070;
    color: #FFF;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #FFF;
}

/* used in api, intro, and samples pages */
#non-fixed-nav {
    margin-bottom: 0px;
}

/* For the samples index.html */
.btn-tag {
    background-color: #3E5264;
    border-color: #3E5264;
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
    margin: 2px;
}

.btn-tag:hover {
    background-color: #4E878B;
    border-color: #4E878B;
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
}

.btn-selected-tag {
    background-color: white;
    border-color: #3E5264;
    color: #3E5264;
    border-bottom: 2px solid #354655;
    margin: 2px;
}

.btn-selected-tag:hover {
    background-color: white;
    border-color: #3E5264;
    color: #3E5264;
}

/* Samples, override Bootstrap settings for certain elements */
#samplesDiv h2 {
    margin-top: 4px;
    margin-bottom: 4px;
}

#samplesDiv p {
    margin: 4px 4px 15px 4px
}

#sample {
    padding-top: 15px;
}

#sample input[type=radio] {
    margin: 3px 3px 0px 5px;
}

#sample input[type=range] {
    display: inline-block;
    width: auto;
}

#sample label {
    margin-bottom: 0px;
    font-weight: normal;
}

#sample pre {
    font-size: 9pt;
}

#sample textarea {
    font-family: monospace;
    font-size: 9pt;
}

.samplespan {
    position: absolute;
    z-index: 99;
    display: none;
    left: 135px;
    margin-top: -80px;
    border: 2px solid gray;
    height: 204px;
}

ul hr {
    margin-top: 0px;
    margin-bottom: 0px;
}

hr.changelog {
    margin-top: 40px;
    margin-bottom: 40px;
    border-top: 4px solid #CCC;
}

/* BOOTSTRAP MEDIA BREAKPOINTS */
@media (min-width: 768px) {
    a:not(.selected):hover .samplespan {
        display: block; /* Only make screenshots visible when not collapsed and not selected */
    }

    .col-md-2 {
        float: left;
        width: 20%;
    }

    .col-md-10 {
        float: left;
        width: 80%;
    }

    .navbar > .container-fluid .navbar-brand {
        margin-left: 10px;
    }

    .navbar-fixed-top .navbar-collapse {
        padding-left: 15px;
        padding-right: 15px;
    }

    #navindex {
        max-width: 180px;
        padding: 0px;
    }

    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }

    .sidebar-nav .navbar li a {
        padding-top: 1px;
        padding-bottom: 1px;
    }
}

@media (max-width: 767px) {
    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-collapse.collapse.in {
        display: block !important;
    }

    .navbar-header .collapse, .navbar-toggle {
        display: block !important;
    }

    .navheader-container {
        position: relative;
        width: 100%;
        height: 50px;
    }

    .navheader-container .navheader-collapse {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    .navbar-nav {
        margin: 7.5px 0px;
    }

    .couple {
        display: inline-block;
    }
}

.button {
    padding: 5px 15px;
    margin: 15px auto;
    border-radius: 5px;
    background: black;
    color: white;
    border: none;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.header {
    width: calc(100% - 115px);
    height: 75px;
    position: absolute;
    background: red;
    z-index: 10;
    font-size: 32px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

textarea {
    height: 300px;
    border: 5px solid black;
    border-radius: 5px;
    width: calc(100% - 15px);
}
